@import url(https://fonts.googleapis.com/css?family=Cardo:700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6em;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Merriweather", serif;
  color: #16241e;
  background: #fbf9f9;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 800px;
}

h1, h3 {
  margin: 0 0 1rem 0;
  font-weight: 700;
  font-family: "Cardo", serif;
  letter-spacing: -0.1rem;
}

h1 { font-size: 3.4rem; line-height: 1.2; font-weight: 700; }
h3 { font-size: 2.2rem; line-height: 1.2; font-weight: 700; }

small {
  font-size: 6px;
  line-height: 4px;
  letter-spacing: -0.2px;
}

a { color: #0a542b; text-decoration: none; }
a:hover { color: #337580; text-decoration: underline; }
a:visted { color: #234534; text-decoration: none; }
a:active { color: #304f4a; text-decoration: none; }

p { margin-top: 1rem; margin-bottom: 1rem; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 1px solid #b688b0;
}

.inline h1, .inline h3 { display: inline-block; }

