/* With pieces of
 * https://github.com/markdowncss/modest and
 * https://github.com/mrmrs/fluidity, both of
 * which are MIT licensed.
 */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  html, body {
    font-size: 14px;
    margin: 0!important;
    padding: 0!important;
    line-height: 1.1!important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a, a:visited, a:active, a:hover {
    color: inherit;
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  h1 {
    font-size: 1.6rem!important;
  }

  h2 {
    font-size: 1.2rem!important;
  }

  h3 {
    font-size: 1.0rem!important
  }

  h1, h2, h3, h4 {
    margin: 0.1rem 0!important;
    font-weight: 700!important;
  }

  p {
    margin-bottom: 10px!important;
  }

  ul {
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
}

pre {
  padding: .2rem;
}

a {
  color: #3674A7;
}

a:visited {
  color: #276A6C;
}

a:hover, a:focus, a:active {
  color: #2A4685;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
  margin: 1rem 0;
  font-weight: inherit;
}

h1 {
  margin-top: 0;
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: .8rem;
}

small {
  font-size: .9em;
}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%;
}

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #222;
  font-family: "Merriweather", "Tisa", "Rooney", "PT Serif", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  margin: 0 auto;
  max-width: 48rem;
  line-height: 1.45;
  padding: .25rem;
}

blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

pre, code {
  background-color: #fafafa;
  font-family: monospace;
}

footer {
  margin-top: 32px;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    filter: invert(100%) !important;
  }
}
