*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #303330;
  max-width: 800px;
  font-weight: 300;
}

blockquote {
  border-left: 0.1rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 1rem;
}

blockquote *:last-child {
  margin-bottom: 0;
}

code {
  background: #f4f5f6;
  margin: 0 .1rem;
  padding: .1rem .3rem;
  white-space: nowrap;
  color: #151915;
}

pre {
  background: #f9f9f9;
  border-left: 0.2rem solid #106c4e;
  overflow-y: hidden;
}

pre > code {
  display: block;
  padding: .5rem 1rem;
  white-space: pre;
}

hr {
  border: 0;
  border-top: 0.1rem solid #106c4e;
  margin: 1.0rem 0;
}

a {
  color: #101d6c;
}

a:focus, a:hover {
  color: #606c76;
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 95%;
  margin-left: 2rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0;
}

img {
  max-width: 100%;
}

@media print {
  @page {
    margin: 0;
  }
  html, body {
    font-size: 14px;
    background: #fff;
    color: #000;
    overflow: visible;
  }
  body {
    padding: 5mm;
  }
}
