html, body { margin: 0; padding: 0; box-sizing: border-box; }
* { box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: "Fantasque Sans Mono", monospace;
  color: #dfe1e8;
  background: #121312;
}

input[type=text], input[type=text]:focus {
  border: none;
  padding: 0;
  margin: 0;
  height: 1.6em;
  background: #1d1e1f;
  color: #6cdd7c;
  width: 50%;
}

#app, div.input-area { height: 100%; }
.holder { overflow: auto; }
.prompt { color: #97ded1; }

p { margin-bottom: 0; line-height: 1.2; }

div#main {
  width: 100vw;
  background: #1a202a;
  border-radius: 3px;
  border: 1px solid #222;
  height: 96vh;
  overflow: hidden;
}

#bar {
  height: 20px;
  width: 100vw;
  background: #101010;
  border-radius: 3px;
  border: 1px solid #222;
}

#content {
  padding: 1em;
  height: 100%;
}

@media (max-width: 1200px) {
  body { font-size: 2.2rem; }
  svg { display: none; }
  #bar { display: none; }
  input[type=text],
  input[type=text]:focus,
  div#main {
    font-size: 2.2rem;
    background: #121312;
    border: none;
  }
}

@media (min-width: 1200px) {

  svg { display: block; }
  body { margin: 5vh 0; }
  p { margin-bottom: 0; line-height: 20px; }

  div#main {
    width: 80vw;
    max-width: 900px;
    background: #1d1e1f;
    border-radius: 3px;
    height: 80vh;
    max-height: 900px;
    box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
    -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.59);
    overflow: hidden;
  }

  #bar {
    height: 30px;
    max-width: 900px;
    background: #101010;
    border-radius: 3px;
  }

  #content {
    padding: 1em;
    height: 100%;
  }

}

