/*
 * This is my standard CSS, as best displayed at zacanger.com/blog
 * Additions and modifications will be commented.
 * Inspiration, cues, & some numbers from getskeleton.com
 * and the work of mrmrs.io , jxnblk.com , and feint.me
 * If it's original, it's DBAD; http://dbad-license.org
 */

@import url(https://fonts.googleapis.com/css?family=Cardo:400,700,400italic);

/* First, a wee reset... */
html, body { height: 100%; width: 100%; }
html, body, ul, ol, li, form, fieldset, legend
{ margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
input, textarea, select { font-size: 110%; line-height: 1.1; }
abbr, acronym { border-bottom: .1em dotted; cursor: help; }


/* Now, some actual styling... */

/* For hiding things, but not from screen readers */
.a11y-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 1.5rem = 15px */
html { font-size: 62.5%; }
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Cardo", serif;
  color: #f8f9ee;
  background: #0c0c0d;
  padding: 2rem;
  max-width: 900px;
  margin-left: 2rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.2rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.6rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.6rem; }
}

/* Links */
a { color: #94c498; }
a:hover { color: #64dbbb; }

/* Lists */
ul { list-style: circle inside; }
ul { padding-left: 1rem; margin-top: 0; }
ul ul { margin: 1.5rem 0 1.5rem 1.5rem; font-size: 90%; }
li { margin-bottom: 1rem; }

/* Spacing */
p { margin-top: 1rem; }
p,ul { margin-bottom: 2.5rem; }
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 1px solid #483f62;
}

/* Here down: project-specific styles */

img {
  display: block;
  max-width: 100%;
  height: auto;
}
code, pre {
  background: #0e0f0e;
  color: #d3ecd2;
  padding: 4px;
  margin: 4px;
}
pre {
  border: 1px solid #483f62;
}

/* http://prismjs.com/download.html?themes=prism-twilight&languages=markup+css+clike+javascript+bash+coffeescript+ruby+css-extras+git+go+ini+jade+json+less+lua+makefile+markdown+perl+php+php-extras+python+jsx+rust+sass+scss+sql+stylus+vim+wiki+yaml&plugins=show-invisibles+autolinker+file-highlight+show-language+highlight-keywords+previewer-base+previewer-color+autoloader+command-line+normalize-whitespace */

code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: none;
  direction: ltr;
  font-family: "Proggy Tiny TTZ", "Hack", "Hasklig", "Fira Code", "Monaco", "Menlo", "Andale Mono", monospace;
  text-align: left;
  text-shadow: 0 -.1em .2em black;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: hsl(0, 0%, 8%); /* #141414 */
}
/* Code blocks */
pre[class*="language-"] {
  border-radius: .5em;
  border: .3em solid hsl(0, 0%, 33%); /* #282A2B */
  box-shadow: 1px 1px .5em black inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
}
pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: hsl(200, 4%, 16%); /* #282A2B */
}
pre[class*="language-"]::selection {
  /* Safari */
  background: hsl(200, 4%, 16%); /* #282A2B */
}
/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  border: .13em solid hsl(0, 0%, 33%); /* #545454 */
  box-shadow: 1px 1px .3em -.1em black inset;
  padding: .15em .2em .05em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(0, 0%, 47%); /* #777777 */
}
.token.punctuation {
  opacity: .7;
}
.namespace {
  opacity: .7;
}
.token.tag,
.token.boolean,
.token.number,
.token.deleted {
  color: hsl(14, 58%, 55%); /* #CF6A4C */
}
.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: hsl(53, 89%, 79%); /* #F9EE98 */
}
.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
  color: hsl(76, 21%, 52%); /* #8F9D6A */
}
.token.atrule {
  color: hsl(218, 22%, 55%); /* #7587A6 */
}
.token.regex,
.token.important {
  color: hsl(42, 75%, 65%); /* #E9C062 */
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}
/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: hsl(33, 33%, 52%); /* #AC885B */
}
/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1;
}
.line-highlight {
  background: -moz-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
  background: -o-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
  background: -webkit-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
  background: hsla(0, 0%, 33%, 0.25); /* #545454 */
  background: linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
  border-bottom: 1px dashed hsl(0, 0%, 33%); /* #545454 */
  border-top: 1px dashed hsl(0, 0%, 33%); /* #545454 */
  left: 0;
  line-height: inherit;
  margin-top: 0.75em; /* Same as .prism’s padding-top */
  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0;
}
.line-highlight:before,
.line-highlight[data-end]:after {
  background-color: hsl(215, 15%, 59%); /* #8794A6 */
  border-radius: 999px;
  box-shadow: 0 1px white;
  color: hsl(24, 20%, 95%); /* #F5F2F0 */
  content: attr(data-start);
  font: bold 65%/1.5 sans-serif;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: .4em;
  vertical-align: .3em;
}
.line-highlight[data-end]:after {
  bottom: .4em;
  content: attr(data-end);
  top: auto;
}
.token.tab:not(:empty),
.token.cr,
.token.lf,
.token.space {
  position: relative;
}
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
  color: hsl(24, 20%, 85%);
  position: absolute;
}
.token.tab:not(:empty):before {
    content: '\21E5';
}

.token.cr:before {
    content: '\240D';
}

.token.crlf:before {
    content: '\240D\240A';
}
.token.lf:before {
    content: '\240A';
}

.token.space:before {
  content: '\00B7';
}
.token a {
  color: inherit;
}
div.prism-show-language {
  position: relative;
}
div.prism-show-language > div.prism-show-language-label {
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  bottom: auto;
  left: auto;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
  z-index: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.prism-previewer,
.prism-previewer:before,
.prism-previewer:after {
  position: absolute;
  pointer-events: none;
}
.prism-previewer,
.prism-previewer:after {
  left: 50%;
}
.prism-previewer {
  margin-top: -48px;
  width: 32px;
  height: 32px;
  margin-left: -16px;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity .25s;
  -moz-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}
.prism-previewer.flipped {
  margin-top: 0;
  margin-bottom: -48px;
}
.prism-previewer:before,
.prism-previewer:after {
  content: '';
  position: absolute;
  pointer-events: none;
}
.prism-previewer:before {
  top: -5px;
  right: -5px;
  left: -5px;
  bottom: -5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
}
.prism-previewer:after {
  top: 100%;
  width: 0;
  height: 0;
  margin: 5px 0 0 -7px;
  border: 7px solid transparent;
  border-color: rgba(255, 0, 0, 0);
  border-top-color: #fff;
}
.prism-previewer.flipped:after {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  border-top-color: rgba(255, 0, 0, 0);
  border-bottom-color: #fff;
}
.prism-previewer.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=1);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.prism-previewer-color {
  background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.prism-previewer-color:before {
  background-color: inherit;
  background-clip: padding-box;
}
.command-line-prompt {
  border-right: 1px solid #999;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 1em;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.command-line-prompt > span:before {
  color: #999;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}
.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

