{{!< default}}

<div id="content-main">

  <article class="{{post_class}}">

    {{#post}}

    <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>

    <section class="post-content">
      {{content}}
    </section>

    {{/post}}

  </article>

</div>

