<div>
  <h2><a href="#/">github search</a></h2>
</div>
<div>
  <form ng-submit="search()" style="margin-top: 5px;" role="form">
    <div>
      <div>
        <input type="text" style="width: 100%;" ng-model="query">
      </div>
      <div>
        <button type="submit">
          <span>?</span>
        </button>
      </div>
    </div>
  </form>
</div>

<div>
  <p style="margin-top: 10px;">About {{metadata.count}} results</p>
</div>

<div ng-repeat="result in results">
  <div>
    <a target="_blank" id="repo-name" href="{{result.html_url}}">{{result.name}}</a><br>
    <span id="repo-link">{{result.html_url}}.git</span><br>
    <span id="repo-desc">{{result.description}}</span>
  </div>
  <div></div>
</div>